pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Debug'

trigger:
- develop

steps:
- task : DotNetCoreInstaller@1
  inputs: 
   packageType: 'sdk'
   version: 3.0.100

- task : DotNetCoreInstaller@1
  inputs: 
   packageType: 'sdk'
   version: 2.1.802

- script: dotnet tool install --global --add-source https://nuget.hybrid-technologies-solutions.com/v3/index.json --version 1.0.0-pre20191015162004 HTS_Packer
  displayName: 'dotnet install HTS_Packer tool'

- task: DockerCompose@0
  inputs:
    containerregistrytype: 'Azure Container Registry'
    dockerComposeFile: 'docker-compose.yml'
    action: 'Run a Docker Compose command'
    dockerComposeCommand: 'up -d'

- script: dotnet build -c $(buildConfiguration) CQELight_CI.sln
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: 'test'
    projects: '$(Build.SourcesDirectory)/tests/**/*.csproj'
  continueOnError: true

- task: DotNetCoreCLI@2
  displayName: 'CI tests' 
  inputs:
    command: 'run'
    arguments: '$(Build.SourcesDirectory)/samples/documentation/2.Geneao/Geneao'
    workingDirectory: '$(Build.SourcesDirectory)/ci/CQELight_Prerelease_CI'
  continueOnError: false

- task: DeleteFiles@1
  inputs:
    SourceFolder: $(Build.ArtifactStagingDirectory)
    Contents: '*.nupkg'

- script: htspack -o $(Build.ArtifactStagingDirectory) -prev
  displayName: 'Launch HTS Pack tool'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'