@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">@ViewData["Welcome"]</h1>
<p>If you see this, it means that your website is running with CQELight ! <a href="https://www.hybrid-technologies-solutions.com" target="_blank">Learn mode about CQELight and Hybrid Technologies Solutions here</a></p>
